doctype html
html(lang="ja")
  head
    meta(charset="utf-8")
    title Pug Test
  body
    p Pug Test
    - var url = "index.html";
    case url
      when "index.html"
        p index.html
      when "sub.html"
        p sub.html
      default
        p default.html

