doctype html
html(lang="ja")
  head
    meta(charset="utf-8")
    title Pug Test
  body
    p Pug Test
    input#elmId101(type="button" value="test01" disabled=true)
    br
    label(for="elmId021") test021
    input#elmId021(type="radio" name="test02" value="test021" checked=false)
    label(for="elmId022") test022
    input#elmId022(type="radio" name="test02" value="test022" checked=true)
